/* line 14, ../../../OneDrive/Documents/GitHub/loopstudios-landing-page-main/scss/_base.scss */
html {
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  font-family: 'Titillium Web', sans-serif;
}

/* line 21, ../../../OneDrive/Documents/GitHub/loopstudios-landing-page-main/scss/_base.scss */
.loopstudios-title {
  display: inline-block;
  color: white;
  margin-left: 1em;
}

/* line 29, ../../../OneDrive/Documents/GitHub/loopstudios-landing-page-main/scss/_base.scss */
.h1-container {
  border: 2px white solid;
  width: 90%;
  margin: 7em auto 0 auto;
  color: white;
  font-size: 2em;
}

/* line 37, ../../../OneDrive/Documents/GitHub/loopstudios-landing-page-main/scss/_base.scss */
.h1-container h1 {
  font-weight: lighter;
  text-transform: uppercase;
  line-height: 1;
  margin: 0;
  padding: .5em;
}

/* line 46, ../../../OneDrive/Documents/GitHub/loopstudios-landing-page-main/scss/_base.scss */
.vr-body-text h2,
#creations-header {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 2.25em;
  line-height: 1;
  letter-spacing: .1em;
}

/* line 55, ../../../OneDrive/Documents/GitHub/loopstudios-landing-page-main/scss/_base.scss */
.vr-body-text p {
  line-height: 2;
}

/* line 61, ../../../OneDrive/Documents/GitHub/loopstudios-landing-page-main/scss/_base.scss */
#creations-header {
  color: #8c8c8c;
  text-align: center;
  margin: 0 0 1.5em 0;
}

/* line 69, ../../../OneDrive/Documents/GitHub/loopstudios-landing-page-main/scss/_base.scss */
footer .loopstudios-title {
  margin: 1.5em 0;
}

@media all and (min-width: 1200px) {
  /* line 77, ../../../OneDrive/Documents/GitHub/loopstudios-landing-page-main/scss/_base.scss */
  .h1-container {
    border: 2px white solid;
    width: 50%;
    margin: 2em 0 0 2em;
    font-size: 3.25em;
  }
  /* line 84, ../../../OneDrive/Documents/GitHub/loopstudios-landing-page-main/scss/_base.scss */
  .h1-container h1 {
    letter-spacing: .1em;
  }
  /* line 88, ../../../OneDrive/Documents/GitHub/loopstudios-landing-page-main/scss/_base.scss */
  .br {
    display: none;
  }
  /* line 93, ../../../OneDrive/Documents/GitHub/loopstudios-landing-page-main/scss/_base.scss */
  .vr-body-text h2 {
    font-size: 3em;
  }
}

/* line 3, ../../../OneDrive/Documents/GitHub/loopstudios-landing-page-main/scss/_components.scss */
.hamburger,
.hamburger-close {
  display: inline-block;
  margin-right: 1em;
}

/* line 9, ../../../OneDrive/Documents/GitHub/loopstudios-landing-page-main/scss/_components.scss */
.hamburger-close {
  display: none;
}

/* line 14, ../../../OneDrive/Documents/GitHub/loopstudios-landing-page-main/scss/_components.scss */
#interactive-img {
  width: 90%;
  height: auto;
  margin: 7.5em 0 2.5em 0;
}

/* line 23, ../../../OneDrive/Documents/GitHub/loopstudios-landing-page-main/scss/_components.scss */
.creation img {
  height: auto;
  width: 100%;
  z-index: 0;
}

/* line 29, ../../../OneDrive/Documents/GitHub/loopstudios-landing-page-main/scss/_components.scss */
.desktop-img {
  display: none;
}

/* line 33, ../../../OneDrive/Documents/GitHub/loopstudios-landing-page-main/scss/_components.scss */
.creation-img-text {
  position: absolute;
  color: white;
  text-transform: uppercase;
  font-weight: lighter;
  z-index: 1;
  bottom: 0;
  left: 1em;
}

/* line 43, ../../../OneDrive/Documents/GitHub/loopstudios-landing-page-main/scss/_components.scss */
.creation {
  position: relative;
  height: 8%;
  width: 90%;
  margin: 0 auto 2em auto;
}

/* line 52, ../../../OneDrive/Documents/GitHub/loopstudios-landing-page-main/scss/_components.scss */
.icon {
  margin-right: 1em;
}

/* line 58, ../../../OneDrive/Documents/GitHub/loopstudios-landing-page-main/scss/_components.scss */
#see-all {
  background-color: white;
  width: 50%;
  margin-top: 2.5em;
  height: 2.5%;
  font-size: 15px;
  letter-spacing: .1em;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  font-family: 'Titillium Web', sans-serif;
}

@media all and (min-width: 1200px) {
  /* line 75, ../../../OneDrive/Documents/GitHub/loopstudios-landing-page-main/scss/_components.scss */
  .hamburger {
    display: none;
  }
  /* line 80, ../../../OneDrive/Documents/GitHub/loopstudios-landing-page-main/scss/_components.scss */
  #interactive-img {
    width: 50%;
    z-index: 0;
    margin-top: 0;
    margin-left: 10em;
  }
  /* line 88, ../../../OneDrive/Documents/GitHub/loopstudios-landing-page-main/scss/_components.scss */
  .mobile-img {
    display: none;
  }
  /* line 92, ../../../OneDrive/Documents/GitHub/loopstudios-landing-page-main/scss/_components.scss */
  .desktop-img {
    display: initial;
  }
}

/* line 1, ../../../OneDrive/Documents/GitHub/loopstudios-landing-page-main/scss/_layout.scss */
body,
html {
  width: 100%;
  height: 100%;
  max-width: 100vw;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

/* line 12, ../../../OneDrive/Documents/GitHub/loopstudios-landing-page-main/scss/_layout.scss */
.full-page {
  width: 100%;
  height: 100vh;
}

/* line 17, ../../../OneDrive/Documents/GitHub/loopstudios-landing-page-main/scss/_layout.scss */
.two-page {
  width: 100%;
  height: 175vh;
}

/* line 22, ../../../OneDrive/Documents/GitHub/loopstudios-landing-page-main/scss/_layout.scss */
.half-page {
  height: 50vh;
  width: 100%;
}

/* line 28, ../../../OneDrive/Documents/GitHub/loopstudios-landing-page-main/scss/_layout.scss */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* line 34, ../../../OneDrive/Documents/GitHub/loopstudios-landing-page-main/scss/_layout.scss */
.hamburger-menu {
  display: none;
  position: absolute;
  list-style-type: none;
  background-color: black;
  font-size: 2em;
  font-weight: lighter;
  position: absolute;
  width: 100%;
  left: 0;
  top: 1em;
  padding: 4em 1em 12em 1em;
}

/* line 48, ../../../OneDrive/Documents/GitHub/loopstudios-landing-page-main/scss/_layout.scss */
.hamburger-menu li a {
  color: white;
  text-decoration: none;
}

/* line 53, ../../../OneDrive/Documents/GitHub/loopstudios-landing-page-main/scss/_layout.scss */
.hamburger-menu li {
  padding-bottom: .5em;
}

/* line 59, ../../../OneDrive/Documents/GitHub/loopstudios-landing-page-main/scss/_layout.scss */
#hero-container {
  background-image: url("../images/mobile/image-hero.jpg");
  background-size: cover;
}

/* line 66, ../../../OneDrive/Documents/GitHub/loopstudios-landing-page-main/scss/_layout.scss */
#vr-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* line 71, ../../../OneDrive/Documents/GitHub/loopstudios-landing-page-main/scss/_layout.scss */
.vr-body-text {
  width: 80%;
  text-align: center;
  color: #8c8c8c;
}

/* line 79, ../../../OneDrive/Documents/GitHub/loopstudios-landing-page-main/scss/_layout.scss */
#creations-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* line 87, ../../../OneDrive/Documents/GitHub/loopstudios-landing-page-main/scss/_layout.scss */
footer {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* line 95, ../../../OneDrive/Documents/GitHub/loopstudios-landing-page-main/scss/_layout.scss */
.footer-menu li a,
.footer-menu li {
  color: white;
  text-decoration: none;
  list-style-type: none;
  text-align: center;
  padding: .5em 0;
}

/* line 104, ../../../OneDrive/Documents/GitHub/loopstudios-landing-page-main/scss/_layout.scss */
.footer-menu {
  padding: 0;
  margin: 0 0 1em 0;
}

@media all and (min-width: 1200px) {
  /* line 112, ../../../OneDrive/Documents/GitHub/loopstudios-landing-page-main/scss/_layout.scss */
  nav .loopstudios-title {
    display: inline-block;
    margin-left: 4em;
    margin-top: 3em;
  }
  /* line 118, ../../../OneDrive/Documents/GitHub/loopstudios-landing-page-main/scss/_layout.scss */
  .hamburger-menu {
    display: inline-block;
    position: static;
    background-color: transparent;
    font-size: 1em;
    font-weight: lighter;
    text-align: right;
    margin-right: 4em;
    margin-top: 3em;
    padding: 0;
  }
  /* line 130, ../../../OneDrive/Documents/GitHub/loopstudios-landing-page-main/scss/_layout.scss */
  .hamburger-menu li {
    display: inline;
    padding-right: 2em;
  }
  /* line 136, ../../../OneDrive/Documents/GitHub/loopstudios-landing-page-main/scss/_layout.scss */
  #hero-container {
    background-image: url("../images/desktop/image-hero.jpg");
  }
  /* line 142, ../../../OneDrive/Documents/GitHub/loopstudios-landing-page-main/scss/_layout.scss */
  #vr-container {
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    position: relative;
  }
  /* line 150, ../../../OneDrive/Documents/GitHub/loopstudios-landing-page-main/scss/_layout.scss */
  .vr-body-text {
    text-align: left;
    background-color: white;
    width: 40%;
    box-sizing: border-box;
    padding: 2em;
    z-index: 1;
    position: relative;
    right: 10em;
    top: 6.5em;
  }
  /* line 166, ../../../OneDrive/Documents/GitHub/loopstudios-landing-page-main/scss/_layout.scss */
  #creations-container {
    display: grid;
    grid-template-areas: "title title title btn" "deep-earth night-arcade soccer-team-vr the-grid" "from-up-above pocket-borealis the-curiosity make-it-fisheye";
  }
  /* line 174, ../../../OneDrive/Documents/GitHub/loopstudios-landing-page-main/scss/_layout.scss */
  #creations-header {
    grid-area: title;
  }
  /* line 178, ../../../OneDrive/Documents/GitHub/loopstudios-landing-page-main/scss/_layout.scss */
  #see-all {
    grid-area: btn;
  }
  /* line 182, ../../../OneDrive/Documents/GitHub/loopstudios-landing-page-main/scss/_layout.scss */
  #deep-earth {
    grid-area: deep-earth;
  }
  /* line 185, ../../../OneDrive/Documents/GitHub/loopstudios-landing-page-main/scss/_layout.scss */
  #night-arcade {
    grid-area: night-arcade;
  }
  /* line 188, ../../../OneDrive/Documents/GitHub/loopstudios-landing-page-main/scss/_layout.scss */
  #soccer-team-vr {
    grid-area: soccer-team-vr;
  }
  /* line 191, ../../../OneDrive/Documents/GitHub/loopstudios-landing-page-main/scss/_layout.scss */
  #the-grid {
    grid-area: the-grid;
  }
  /* line 194, ../../../OneDrive/Documents/GitHub/loopstudios-landing-page-main/scss/_layout.scss */
  #from-up-above {
    grid-area: from-up-above;
  }
  /* line 197, ../../../OneDrive/Documents/GitHub/loopstudios-landing-page-main/scss/_layout.scss */
  #pocket-borealis {
    grid-area: pocket-borealis;
  }
  /* line 200, ../../../OneDrive/Documents/GitHub/loopstudios-landing-page-main/scss/_layout.scss */
  #the-curiosity {
    grid-area: the-curiosity;
  }
  /* line 203, ../../../OneDrive/Documents/GitHub/loopstudios-landing-page-main/scss/_layout.scss */
  #make-it-fisheye {
    grid-area: make-it-fisheye;
  }
}

/*# sourceMappingURL=main.css.map */